{% load static %}
<div class="row">
    <div class="col-md-2">
        <a href="/">
            {% if item.IdCereal.cerealimage_set.first.image != "" %}
                <img src={{ item.IdCereal.cerealimage_set.first.image }} class="float-left">
            {% else %}
                <img src="https://pbs.twimg.com/profile_images/1155645244563742721/tuCu6BT-.jpg" class="float-left">
            {% endif %}
        </a>
    </div>
    <div class="col-md-2">
        <div>
            <p>{{ item.IdCereal.description }}</p>
        </div>
    </div>
    <div class="col-md-1">
        <div>
            <p>${{ item.IdCereal.price }}</p>
        </div>
    </div>
    <div class="col-md-1">
        <div>
            <p>{{ item.CerealAmount }}</p>
        </div>
    </div>
    <div class="col-md-1">
        <div class="btn" style="text-align: center; display:inline">
            <div class="btn" style="color:white; background-color:red; width: 50%;">
                <a style="color:white;" href="{% url 'cart-remove' item.IdCereal.pk %}">X</a>
            </div>
        </div>
    </div>
</div>