.cereal {
    border: solid 2px rgba(255,255,255,1);
    background-color: rgba(0,0,0,0.7);
    color: white;
    margin:auto;
    text-align: center;
    width: 400px;
    justify-content: center;
}
.checkout {
  background-color: lightgray;
  border: solid 2px rgba(155, 155, 155, .5);
  padding-left: 200px;
}
.merch {
    border: solid 2px rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    margin: auto;
    text-align: center;
    width: 500px;
    justify-content: center;
}
.opacity-info{
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    padding-bottom: 20px;
}

.cerealList {
    padding-left:250px;
    padding-top:4px;
    margin:auto;
}

.opacity-container {
  padding: 20px 30px;
}

.black-box {
  background: black;
  width: 100%;
  height: 100%;
}

.form-padding{
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 50%;
}

.white-text {
    color: white;
}
.opacity-nav-btn{
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 20px;
    padding-left: 70px;
    padding-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;

}

.background {
    background-image: url('https://images.unsplash.com/photo-1504308805006-0f7a5f1f0f71?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80');
    background-size: cover;
}
.tab {
       display:inline-block;
       margin-left: 40px;
}

.first {
    width: 100%;
}

.second {
    position: absolute;
}

.checkout-navbar {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.navbar-inverse {
    height: 40px;
    background: rgba(0,0,0,0.7);
}

.form-control {
    color: black;
}

.login {
margin-bottom:5px;
}

.dropdown-menu-login {
    width: 300px
}


.col-md-4{
    background: rgba(0,0,0,0.7);
    color: white;
    height: 100%;
    padding:5px;
}

.row-custom {
    width:100%;
    height:300px;

}

.media-object {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.media {
    width: 100%;
    height: 227px;
    object-fit: cover;
}

.float-left {
    width: 180px;
    height: 227px;
}

.details-image {
    margin-top: 40px;
    width: 270px;
    height: 340px;
}

.cart-image {
    width: 180px;
    height: 226px;
}

.cereal-name {
    text-align: center;
}

.cereal-description {
    font-size: 2em;
}

.moreinfo {
    text-decoration: underline;
}

.push-down {
    margin-top: 40px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
/*
.background::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255,255,255,0.15);
}

.navbar-center {
    position: absolute;
    width: 100%;
    text-align: center;
    margin: auto;
    top: 15%;
}

}*/
