.cereal {
  background-color: yellow;
  border: solid 2px rgba(155, 155, 155, .5);
  padding-left: 200px;
}
.checkout {
  background-color: lightgray;
  border: solid 2px rgba(155, 155, 155, .5);
  padding-left: 200px;
}
.merch {
    background-color: black;
    color: #f1f1f1;
    border: solid 2px rgba(155, 155, 155, .5);
    padding-left: 200px;
}
.opacity-info{
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    padding-bottom: 20px;
}
/* LAURA */
.opacity-container {
  padding: 20px 30px;
}

.black-box {
  background: black;
  width: 100%;
  height: 100%;
}
/* END LAURA */
.form-padding{
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 50%;
}

.white-text {
    color: white;
}
.opacity-nav-btn{
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 20px;
    padding-left: 70px;
    padding-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;

}

.background {
    background-image: url('https://images.unsplash.com/photo-1504308805006-0f7a5f1f0f71?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80');
    background-size: cover;
}
.tab {
       display:inline-block;
       margin-left: 40px;
}
/*
.background::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255,255,255,0.15);
}

.navbar-center {
    position: absolute;
    width: 100%;
    text-align: center;
    margin: auto;
    top: 15%;
}

}*/
