
<div class="div-opacity">
    <ul>
        <li>
  <label for="fname">Full Name:</label>
  <input type="text"  name="fname">
        </li>

        <li>
   <label for="lname">Street name:</label>
  <input type="text" name="streetname">
        </li>

        <li>
  <label for="housenr">House number:</label>
  <input type="number"name="housenr">
        </li>

        <li>
  <label for="country">Country:</label>
  <input type="text" name="country">
        </li>
    </ul>
        <button type="button" class="big-button">
            Submit
        </button>

</div>


<div class="div-info">
    <h1>Contact Information</h1>
</div>
<div class="div-info">
    <h1>Payment</h1>
</div>
<div class="div-info">
    <h1>Review</h1>
</div>