<div class="container">
  <div class="row opacity-info white-text opacity-container">
    <div class="col-md-4">
      <div class="black-box">
        <ul>
          <li>
            Cheerios
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Maria</label>
          <input type="text" class="form-control" id="example1" placeholder="placeholder">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Garðar</label>
          <input type="text" class="form-control disabled" id="example1" placeholder="placeholder" disabled>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Valli</label>
          <input type="text" class="form-control" id="example1" placeholder="placeholder">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Drake</label>
          <input type="text" class="form-control" id="example1" placeholder="placeholder">
        </div>
      </form>
    </div>
    <div class="col-md-4">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Maria</label>
          <input type="text" class="form-control" id="example1" placeholder="placeholder">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Garðar</label>
          <input type="text" class="form-control" id="example1" placeholder="placeholder">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Valli</label>
          <input type="text" class="form-control" id="example1" placeholder="placeholder">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Drake</label>
          <input type="text" class="form-control" id="example1" placeholder="placeholder">
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-3 opacity-nav-btn">
        <button class='btn btn-link btn-lg active white-text'>Contact information</button>
    </div>
    <div class="col-md-3 opacity-nav-btn">
        <button class='btn btn-link btn-lg active white-text'>Payment</button>
    </div>
    <div class="col-md-3 opacity-nav-btn">
        <button class='btn btn-link btn-lg active white-text'>Review</button>
    </div>
</div>