<div class="sidenav">
  <a href="{% url 'cereal-index' %}"><h2 style="margin-top:20px">All</h2></a>
  <a href="{% url 'cereal_products' 0 %}"><h2 style="margin-top:0px">Cereals</h2></a>
  <a href="{% url 'cereal_products' 1 %}"><h4 style="text-indent: 20px">Healthy</h4></a>
    <a href="{% url 'cereal_products' 2 %}"><h4 style="text-indent: 20px">Fruity</h4></a>
    <a href="{% url 'cereal_products' 3 %}"><h4 style="text-indent: 20px">Sugary</h4></a>
  <a href="{% url 'merch_products' 0%}"><h2>Merchandise</h2></a>
    <a href="{% url 'merch_products' 4 %}"><h4 style="text-indent: 20px">Books</h4></a>
    <a href="{% url 'merch_products' 5 %}"><h4 style="text-indent: 20px">Cups</h4></a>
    <a href="{% url 'merch_products' 6 %}"><h4 style="text-indent: 20px">Spoons</h4></a>
    <a href="{% url 'merch_products' 7 %}"><h4 style="text-indent: 20px">T-shirts</h4></a>
</div>
