<div class="container ">
    <div class="row opacity-info payment-padding white-text">
        <form>
            <div class="form-group ">
              <label  for="exampleInputEmail1">Cardholder name</label>
              <input type="text" class="form-control" id="example1" placeholder="placeholder" >
            </div>
            <div class="form-group ">
              <label  for="exampleInputEmail1">Cardholder name</label>
              <input type="text" class="form-control" id="example1" placeholder="placeholder" >
            </div>
            <div class="form-group ">
              <label  for="exampleInputEmail1">Cardholder name</label>
              <input type="text" class="form-control" id="example1" placeholder="placeholder" >
            </div>
            <div class="form-group ">
              <label  for="exampleInputEmail1">Cardholder name</label>
              <input type="text" class="form-control" id="example1" placeholder="placeholder" >
                <br>
                <button type="submit" class="btn-lg btn-block btn-default"><Confirm>Register</Confirm></button>
            </div>
          </form>
    </div>
